<h2> Nome : <%= @aluno.nome %> </h2>
<div class="span2">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <%= image_tag(@aluno.avatar_url) if @aluno.avatar? %>
            </div>
        </div>
    </div>
</div>
<div class="span5">
    <div>
    <ul>
        </br>
        </br>
        <li><b> Email:</b> <%= @aluno.email %> </li>
        <li><b> Endereço:</b> <%= @aluno.endereco %> </li>
        <li><b> Telefone:</b> <%= @aluno.telefone %> </li>
        <li><b> Matricula:</b> <%= @aluno.matricula %> </li>
    </ul>
    </div>
    <%= link_to edit_aluno_path do %>
        <button class="btn btn-small">Editar Conta</button>
    <% end %>
    <%= link_to @aluno, method: :delete, data: {confirm: 'Tem certeza?'} do %>
        <button class="btn btn-small btn-danger">Deletar Conta</button>
    <% end %>
</div>
        
