<h2> ID do Usuario: <%= @professor.id %> </h2>

<div>
<ul>
    <li> Nome: <%= @professor.nome %> </li>
    <li> Email: <%= @professor.email %> </li>
    <li> Endereço: <%= @professor.endereco %> </li>
    <li> Telefone: <%= @professor.telefone %> </li>
    <li> CPF: <%= @professor.cpf %> </li>
    <li> <%= image_tag(@professor.avatar_url) if @professor.avatar? %> </li>


</ul>
</div>

    <%= link_to edit_professor_path do %>
    <button class="btn">Editar Autor</button>
    <% end %>
    <%= link_to @professor, method: :delete, data: {confirm: 'Tem certeza?'} do %>
    <button class="btn btn-danger">Apagar Autor</button>
    <% end %>
    <%= link_to professors_path do%>
    <button class="btn">Voltar</button>
<% end %>