<h1>Novo Arquivo</h1>
<%= form_for(@arquivo) do |f| %>
  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div><br>
  <div>
    	 <%= f.file_field :arquivo %>
    	 <%= f.hidden_field :arquivo_cache %>
  </div>
  <div><br>
		<%= f.label :dicipĺina_id %>
		<%= f.select :diciplina_id, @diciplinas.collect { |a| [a.nome,a.id] } %>
  </div>
    <div class="actions">
    <%= f.submit %>
  </div>
<%end%>
<%= link_to 'Back', diciplinas_path %>
