<div class="modal fade" id="pasta<%= pasta.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> "Enviar novo arquivo para a pasta: <%= pasta.nome %>  </h4>
      </div>
      <div class="well">
        <%= form_for(@arquivo) do |f| %>

          <%= f.label :nome %>
          <%= f.text_field :nome %>

          <%= f.file_field :arquivo %>
          <%= f.hidden_field :arquivo_cache %>

          <%= f.label :pasta_id %><br />
          <%= f.text_field :pasta_id, disabled: true, placeholder: pasta.nome %>

          <%= f.hidden_field :pasta_id, {:value => pasta.id} %>

          <%= f.submit 'Enviar' %>

        <% end %>
        </div>
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->