	
	<div align="center">
	<div class="tabbable"> <!-- Only required for left/right tabs -->
	    <ul class="nav nav-tabs">
		    <li><%=link_to 'Inicio', diciplina_path%></li>
		    <% if current_user.id == @diciplina.professor.id%>
				<% if @diciplina.pendentes.count > 0 %>
		    		<li class="active"><a href="/diciplinas/<%=@diciplina.id%>/alunospendentes">Alunos Pendentes <span class="badge badge-info"><%= @diciplina.pendentes.count %></span></a></li>
		    	<%else%>
					<li class="active"><%=link_to 'Alunos Pendentes', alunospendentes_path%></li>
				<%end%>
			<% end %>
			<li><%=link_to 'Alunos Inscritos', alunosinscritos_path%></li>
			<li><%=link_to 'Materiais', materiais_path%></li>
			<li><%= link_to 'Atividades', atividades_path %></li>
		</ul>
	</div>			
	</div>




<div class="tab-pane active" id="tab1">
<% if @diciplina.professor?(current_user) %>
	 


	<h1> Alunos Pendentes </h1>
	<div class="row-fluid">
		<% @diciplina.pendentes.each do |a| %>
			<div class="span2">
				<div class="row">
				  <div class="col-sm-6 col-md-4">
				    <div class="thumbnail">
				       <h3><%= link_to a.nome, aluno_path(a)%></h3>
				      <div class="caption">
				       <p>Matricula:<%= a.matricula %></p>
				        <%= image_tag a.avatar_url %> 
				        <ul>
				        </br>
							<%= link_to 'Aceitar',  {:action => 'aceitar', :controller => 'diciplinas', :aluno => a.id,:diciplina => @diciplina.id} , :class => 'btn btn-success btn-small' %>
							<%= link_to 'Recusar',  {:action => 'recusar', :controller => 'diciplinas', :aluno => a.id,         :diciplina => @diciplina.id}, :class => 'btn btn-danger btn-small'%>
						</ul>
							 
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		<% end %>
	</div>

	<% if @diciplina.pendentes == [] %>
		Não há alunos pendentes no momento.
	<% end %>

<% end %>
</div>
