<h1>Listando Diciplinas</h1>

<table >
  <tr>
    <th>Nome</th>
    <th>Conteudo</th>
    <th>Professor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @diciplinas.each do |diciplina| %>
      <% @professors.each do |p| %>
        <% if p.id == diciplina.professor_id %>
            <tr>
              <td><%= diciplina.nome %></td>
              <td><%= diciplina.conteudo %></td>
              <td><%= p.nome %></td>
              <td><%= link_to 'Mostrar', diciplina %></td>
              <% if diciplina.professor?(current_user) %>
              <td><%= link_to 'Editar', edit_diciplina_path(diciplina) %></td>
              <td><%= link_to 'Apagar', diciplina, method: :delete, data: { confirm: 'Tem certeza? A diciplina não pode ser recuperada depois de apagada' } %>
              <% end %>
              </td>
            </tr> 
        <% end %>
      <% end %>

<% end %>
</table>

