<h1>Listando Diciplinas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Conteudo</th>
    <th>Professor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @diciplinas.each do |diciplina| %>
  <tr>
    <td><%= diciplina.nome %></td>
    <td><%= diciplina.conteudo %></td>
    <td><%= diciplina.professor_id %></td>
    <td><%= link_to 'Show', diciplina %></td>
    <td><%= link_to 'Edit', edit_diciplina_path(diciplina) %></td>
    <td><%= link_to 'Destroy', diciplina, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
