

<div>

	<%= render 'links' %>
	<% if @diciplina.professor?(current_user) || @diciplina.situacao(current_user) == 2 %>

		<% if @diciplina.professor?(current_user) %>
			<div class="field">
				<%= form_tag(createpasta_path) do %>
					Criar nova pasta:
    				<% label_tag :nome %>
    				<%= text_field_tag :nome %>
    				
   					<%= submit_tag 'Criar' %>
   				<%end%>
  			</div>
		<% end %>

		<ul class="nav nav-list">
			<% @pastas.each do |p| %>		
			    <li>
			    	 <legend class="tree-toggler title-header"> <%= p.nome%> </legend>
			    	  	<ul class="nav nav-list tree">
			               		<li>
			               			<%= link_to nil, data: { toggle: "modal", target: "#pasta#{p.id}" }, :class=>"link-icon" do %>
   										<button class="btn btn-primary"> Enviar novo arquivo</button>
									<% end %> 
									<%= render :partial => "arquivo_pastas", :locals => {:pasta => p }%>
								</li>
								
			               		<% p.arquivos.each do |a|%>
			                      	<li class="fake-level">
			                               <a href="#" > <%= a.nome %> </a>
			                        </li> 
			                    <% end %>   
			            </ul>
			   </li>
			   <br>
			<% end %>
		</ul>

	<% else %>
		Você não tem acesso à esse material. </p>
	<% end %>
</div>



<script>
$(document).ready(function () {
	$('ul.tree').hide();
    $('legend.tree-toggler').click(function () {
        $(this).parent().children('ul.tree').toggle(500);
    });
});
</script>