<div>
	<%= render 'links' %>
	<div class="tab-pane active" id="tab1">
	<% if @diciplina.professor?(current_user) || @diciplina.situacao(current_user) == 2 %>


		<% if @diciplina.professor?(current_user) %>
			<div class="field">
				<%= form_tag(createpasta_path) do %>
					<p>Criar nova pasta:
    				<% label_tag :nome %>
    				<%= text_field_tag :nome %>
    				
   					<%= submit_tag 'Criar' %></p>
   				<%end%>
  			</div>
		<% end %>

		<ul class="nav nav-list">
			<% @diciplina.pastas.order('lower(nome)').each do |p| %>
			    <li>
			    	 <legend class="tree-toggler title-header"> <%= p.nome%> </legend>
			    	  <p align =right><%= link_to 'Apagar', p, method: :delete, data: { confirm: 'Tem certeza?' } %></p>

			    	  	<ul class="nav nav-list tree">
			               		<li>
			               			<p><%= link_to nil, data: { toggle: "modal", target: "#pasta#{p.id}" }, :class=>"link-icon" do %></p>
   										<button class="btn enviar"> Enviar novo arquivo </button>
									<% end %> 
									<p><%= link_to nil, data: { toggle: "modal", target: "#editar#{p.id}" }, :class=>"link-icon" do %></p>
   										<button class="btn enviar"> Editar nome </button>
									<% end %> 
								</li>
			               		<% p.arquivos.each do |a|%>
			                      	<li>
			                               <p><%= link_to a.nome, :action => 'download', :controller => 'arquivos', :meuar => a %>
			                               <%= link_to 'Apagar', a, method: :delete, data: { confirm: 'Tem certeza?' } %></p>
			                        </li> 
			                    <% end %>   
			            </ul>
			   </li>
			   <br>
			<% end %>
		</ul>
	<% @diciplina.pastas.order('lower(nome)').each do |p| %>
		<div>		
		    <%= render :partial => "arquivo_pastas", :locals => {:pasta => p }%>
		    <%= render :partial => "editar_pastas", :locals => {:pasta => p }%>
	    </div>
	<% end %> 

	<% else %>
		Você não tem acesso à esse material. </p>
	<% end %>
</div>
</div>
<script>
$(document).ready(function () {
	$(".tree-toggler").accordion({collapsible: true, active: false});
	$('ul.tree').hide();
    $('legend.tree-toggler').click(function () {
        $(this).parent().children('ul.tree').toggle(500);

    });

    $('.enviar').click(function (){
    	$('.modal').css('z-index', '1041');
    });
});
</script>