<div>
<div>
  <h3><%= link_to 'Diciplina', diciplinas_path %> > <%= @diciplina.nome %></h3>
</div>
	<div align="center">
	<div class="tabbable"> <!-- Only required for left/right tabs -->
	    <ul class="nav nav-tabs">
			<li class="active"><%=link_to 'Materiais', materiais_path%></li> 
			<li><%= link_to 'Atividades', atividades_path %></li> 
		    <% if current_user.id == @diciplina.professor.id%>
		    	<% if @diciplina.pendentes.count > 0 %>
		    		<li><a href="/diciplinas/<%=@diciplina.id%>/alunospendentes">Alunos Pendentes <span class="badge badge-info"><%= @diciplina.pendentes.count %></span></a></li>
		    		<li><%=link_to 'Alunos Inscritos', alunosinscritos_path%></li>
		    	<%else%>
					<li><%=link_to 'Alunos Pendentes', alunospendentes_path%></li>
					<li><%=link_to 'Alunos Inscritos', alunosinscritos_path%></li>
				<%end%>
			<% end %>
			
			
			<li><%=link_to 'Sobre', diciplina_path%></li>

		</ul>
	</div>			
	</div>

	<div class="tab-pane active" id="tab1">
	<% if @diciplina.professor?(current_user) || @diciplina.situacao(current_user) == 2 %>


		<% if @diciplina.professor?(current_user) %>
			<div align="center" class="field">
				<%= form_tag(createpasta_path) do %>
					<h4>Criar nova pasta:</h4>
					<div class="input-append">
						<% label_tag :nome %>
    					<%= text_field_tag :nome, nil, :maxlength => 1, :allow_blank => false, :required => true %>
    					<%= submit_tag 'Criar', :class => 'btn btn-default btn-default'%>
   					</div>
   				<%end%>
  			</div>
		<% end %>

		<ul class="nav nav-list">
			<% @diciplina.pastas.order('lower(nome)').each do |p| %>
			    <li>
					<legend class = "tree-toggler title-header form-actions" >
			    	 		<p class = "icon-folder-close">  <%= p.nome%></p>
			    		</legend>				    	  
		    	  	<ul class="nav nav-list tree">
		    	  		<div>
		    	  			<% if current_user.id == @diciplina.professor.id%>
			    	  			<div class="enviar title-header form-actions">

			    	  			<%= link_to "Enviar", data: { toggle: "modal", target: "#pasta#{p.id}" }, :class=>"btn btn-default btn-primary	" do %>
			    	  				<div class ='icon-plus'> Enviar arquivo </div>				  
									<% end %>

								<%= link_to "Editar nome", data: { toggle: "modal", target: "#editar#{p.id}"}, :class=>"btn btn-default btn-default" do%> <div class ='icon-wrench'> Editar pasta </div><% end %>

			    	  			<%= link_to 'Apagar pasta', p, method: :delete, data: { confirm: 'Tem certeza?' },:class => "btn btn-default btn-danger"%>

								</div>
							<%end%>
						</div>
					    <table class="table table-hover ">
					    	<thead>
						      <th>Descrição</th>
						      <th>Ação</th>
						      <th>Enviado em</th>
							</thead> 
							<% p.arquivos.each do |a|%>
								<tbody>
									<td> <%= a.nome %> </td>
			            			<td> <%= link_to "download", {:action => 'download', :controller => 'arquivos', :meuar => a} ,:class => 'btn btn-mini btn-primary' %>
			                               <% if current_user.id == @diciplina.professor.id%>
			                               		<%= link_to 'Apagar', a, method: :delete, data: { confirm: 'Tem certeza?' },:class => 'btn btn-mini btn-danger' %></p>
			                               <%end%>
			                        </td>
			                        <td> <%= a.created_at %> </td>
								</tbody>
							<% end %>
		    			</table>     	
		            </ul>
			   </li>
			<% end %>
		</ul>
	<% @diciplina.pastas.order('lower(nome)').each do |p| %>
		<div>		
		    <%= render :partial => "arquivo_pastas", :locals => {:pasta => p }%>
		    <%= render :partial => "editar_pastas", :locals => {:pasta => p }%>
	    </div>
	<% end %> 

	<% else %>
		Você não tem acesso à esse material. </p>
	<% end %>
</div>
</div>
<script>
$(document).ready(function () {
	
	$('ul.tree').hide();
    $('legend.tree-toggler').click(function () {
        $(this).parent().children('ul.tree').slideToggle(500);

    });

    $('.enviar').click(function (){
    	$('.modal').css('z-index', '1041');
    });
});	
</script>