<%= render 'links' %>
<%- model_class = Diciplina -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @diciplina.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:conteudo) %>:</strong></dt>
  <dd><%= @diciplina.conteudo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:professor_id) %>:</strong></dt>
  <dd><%= @professor.nome %></dd>
  <% if current_user.type?("Aluno")%>
    <dt><b> Situação: </b></dt>
        <% if @diciplina.situacao(current_user) == 0 %>
                <dd>Você não está cadastrado nessa disciplina, <%= link_to 'Cadastrar', :action => 'cadastro', :controller => 'controles', :user => current_user, :disciplina => @diciplina %></dd>
        <% elsif @diciplina.situacao(current_user) == 1 %>
                <dd>Aguardando aprovação do professor responsavel.</dd>
        <% elsif @diciplina.situacao(current_user) == 2 %>
                <dd>Você já está cadastrado nessa disciplina. <%= link_to 'Sair', :action => 'recusar', :controller => 'diciplinas', :aluno => current_user.id, :diciplina => @diciplina.id %></dd>
        <% end %>
  <%end%>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              diciplinas_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_diciplina_path(@diciplina), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              diciplina_path(@diciplina),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
