<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @diciplina.nome %>
</p>

<p>
  <b>Conteudo:</b>
  <%= @diciplina.conteudo %>
</p>

<p>
  <b>Professor:</b>
  <%= @professor.nome %>
</p>


<%= link_to 'Editar', edit_diciplina_path(@diciplina) %> |
<%= link_to 'Voltar', diciplinas_path %>
