<p id="notice"><%= notice %></p>
<%= render 'links' %>
<h3>
	<b>Nome:</b>
	<%= @diciplina.nome %>
</h3>

<p>
		<b>Conteudo:</b>
		<%= @diciplina.conteudo %>
</p>

<p>
		<b>Professor:</b>
		<%= @professor.nome %>
</p>

<div> 
	<% if current_user.type?("Aluno")%>
		<b> Situação: </b>
		<% if @diciplina.situacao(current_user) == 0 %>
			Você não está cadastrado nessa disciplina, <%= link_to 'Cadastrar', :action => 'cadastro', :controller => 'controles', :user => current_user, :disciplina => @diciplina %> 
		<% elsif @diciplina.situacao(current_user) == 1 %>
			Aguardando aprovação do professor responsavel.
		<% elsif @diciplina.situacao(current_user) == 2 %>
			Você já está cadastrado nessa disciplina. <%= link_to 'Sair',  :action => 'recusar', :controller => 'diciplinas', :aluno => current_user.id,         :diciplina => @diciplina.id %>
		<% end %>
	<%end%>
</div>


<br>
<%= link_to 'Voltar', diciplinas_path %>
